.header {
    text-align: center;
    background-color: #e67e22;
    font-size: 8rem;
    font-family: Helvetica;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

