@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Animation Usage */
/*
animation-name: moveInLeft;
animation-duration: 1s;
animation-timing-function: ease-out;
animation-delay: 0.4s;
animation-iteration-count: 3;

animation: moveInRight 1s ease-out;
transform: skewY(2deg) skewX(20deg) scale(1.2);
*/
